.product {
    @include mobile {
        margin-top: 40px;
        margin-bottom: 20px;

    }
    .product-body {
        max-width: 23%;
        @include pad {
            max-width: 32%;
        }
        @include mobile {
            max-width: 48.5%;
            margin-bottom: 30px;
        }
    }
}

.paginator {
    @include mobile {
        margin-bottom: 40px;
    }
    a {
        &:hover {
            background: #ac8a46;
            color: $content-color;
        }
    }
    .active {
        color: #ac8a46;
        text-decoration: underline;
        
    }
}
