//顏色
$theme-color: #916000;
$second-color: #916019;
$navbar-color: #8D8D8D;
$content-color: #ffffff;

//字體
$font-size-s: 16px;
$font-size-m: 20px;
$font-size-l: 24px;
$font-size-xl: 32px;

//行距
$light-height-s: 24px;
$light-height-m: 30px;
$light-height-l: 36px;
$light-height-xl: 48px;

